/**
 * 公共函数(mixin)
 */
/**
 * CSS属性, 封装各浏览器不同写法
 */
border-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    -ms-border-radius arguments
    -o-border-radius arguments
    border-radius arguments
box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    -ms-box-shadow arguments
    -o-box-shadow arguments
    box-shadow arguments
transition()
    -webkit-transition arguments
    -moz-transition arguments
    -ms-transition arguments
    -o-transition arguments
    transition arguments
transform()
    -webkit-transform arguments
    -moz-transform arguments
    -ms-transform arguments
    -o-transform arguments
    transform arguments
box-sizing()
    -webkit-box-sizing arguments
    -moz-box-sizing arguments
    -ms-box-sizing arguments
    -o-box-sizing arguments
    box-sizing arguments
appearance()
    -webkit-appearance arguments
    -moz-appearance arguments
    -ms-appearance arguments
    -o-appearance arguments
    appearance arguments

/**
 * 功能
 */
ellipsis()
    width arguments
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    display inline-block

//输入框右侧进入按钮
right-enter(w, img, pos, size, r)
    position absolute
    width w
    height @width
    background-image url(img)
    background-position pos
    background-size size
    right r
    top 50%
    margin-top (@width/2) * -1

//输入框右侧提示
right-tip(h, r, fontsize)
    position absolute
    height h
    line-height h
    right r
    top 50%
    margin-top (@height/2) * -1
    color #c
    font-size fontsize

//设置高度，且让文字垂直居中
middle-height()
    height arguments
    line-height arguments
    //box-sizing border-box
/**
 * 去除文字上下的空白，使其与文字高度相等
 */
raw-font-size()
    font-size arguments
    line-height arguments