footer
    .container
        ul(ng-controller="aboutController").myInfo.fl
            li(ng-repeat="info in infoList")
                a(href="{{info.link}}") {{info.name}}
        ul(ng-controller="linkController").linkExchange.fl
            li(ng-repeat="info in infoList")
                a(href="{{info.link}}") {{info.name}}
        .copyright.fr
            .message 骑士网,WEB前端开发综合型网站，汇聚各种前端技术，为前端开发人员提供各种信息资源。内容涉及：学习引导、开发工具、学习服务、案例演示、等诸多前端产业。
            .con
                span Copyright © <a href="http://www.programchen.com">programchen.com</a> All Rights Reserved
                span
                    a(href="http://www.miitbeian.gov.cn")鄂ICP备15002483号-1