header
    .container
        .logo
            img(src="image/logo.png")
        nav(ng-controller="navController")
            ul
                li(ng-repeat="info in infoList")
                    a(href="{{info.link}}") {{info.name}}